appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
audioread==2.1.9
autopep8==1.5.6
backcall==0.2.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
bleach==3.3.0
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cycler==0.10.0
data-science-types==0.2.23
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.4
entrypoints==0.3
filelock==3.4.0
flake8==3.9.0
flake8-docstrings==1.6.0
flake8-json==21.1.0
Flask==1.1.2
gunicorn==20.1.0
idna==2.10
iniconfig==1.1.1
ipykernel==5.5.0
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyboard==0.13.5
kiwisolver==1.3.1
librosa==0.9.1
llvmlite==0.38.0
MarkupSafe==1.1.1
matplotlib==3.4.0
mccabe==0.6.1
microfs==1.4.5
mistune==0.8.4
mypy==0.812
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.2.0
nbformat==5.1.2
nest-asyncio==1.5.1
newsapi-python==0.2.6
nltk==3.6.7
notebook==6.3.0
numba==0.55.1
numpy==1.20.2
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
platformdirs==2.4.0
pluggy==0.13.1
pooch==1.6.0
prometheus-client==0.9.0
prompt-toolkit==3.0.18
pseudo-microbit==1.10
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pydocstyle==6.0.0
pyflakes==2.3.1
Pygments==2.8.1
pyminifier==2.1
pyobjc==8.3
pyobjc-core==8.3
pyobjc-framework-Accessibility==8.3
pyobjc-framework-Accounts==8.3
pyobjc-framework-AddressBook==8.3
pyobjc-framework-AdServices==8.3
pyobjc-framework-AdSupport==8.3
pyobjc-framework-AppleScriptKit==8.3
pyobjc-framework-AppleScriptObjC==8.3
pyobjc-framework-ApplicationServices==8.3
pyobjc-framework-AppTrackingTransparency==8.3
pyobjc-framework-AudioVideoBridging==8.3
pyobjc-framework-AuthenticationServices==8.3
pyobjc-framework-AutomaticAssessmentConfiguration==8.3
pyobjc-framework-Automator==8.3
pyobjc-framework-AVFoundation==8.3
pyobjc-framework-AVKit==8.3
pyobjc-framework-BusinessChat==8.3
pyobjc-framework-CalendarStore==8.3
pyobjc-framework-CallKit==8.3
pyobjc-framework-CFNetwork==8.3
pyobjc-framework-ClassKit==8.3
pyobjc-framework-CloudKit==8.3
pyobjc-framework-Cocoa==8.3
pyobjc-framework-Collaboration==8.3
pyobjc-framework-ColorSync==8.3
pyobjc-framework-Contacts==8.3
pyobjc-framework-ContactsUI==8.3
pyobjc-framework-CoreAudio==8.3
pyobjc-framework-CoreAudioKit==8.3
pyobjc-framework-CoreBluetooth==8.3
pyobjc-framework-CoreData==8.3
pyobjc-framework-CoreHaptics==8.3
pyobjc-framework-CoreLocation==8.3
pyobjc-framework-CoreMedia==8.3
pyobjc-framework-CoreMediaIO==8.3
pyobjc-framework-CoreMIDI==8.3
pyobjc-framework-CoreML==8.3
pyobjc-framework-CoreMotion==8.3
pyobjc-framework-CoreServices==8.3
pyobjc-framework-CoreSpotlight==8.3
pyobjc-framework-CoreText==8.3
pyobjc-framework-CoreWLAN==8.3
pyobjc-framework-CryptoTokenKit==8.3
pyobjc-framework-DeviceCheck==8.3
pyobjc-framework-DictionaryServices==8.3
pyobjc-framework-DiscRecording==8.3
pyobjc-framework-DiscRecordingUI==8.3
pyobjc-framework-DiskArbitration==8.3
pyobjc-framework-DVDPlayback==8.3
pyobjc-framework-EventKit==8.3
pyobjc-framework-ExceptionHandling==8.3
pyobjc-framework-ExecutionPolicy==8.3
pyobjc-framework-ExternalAccessory==8.3
pyobjc-framework-FileProvider==8.3
pyobjc-framework-FileProviderUI==8.3
pyobjc-framework-FinderSync==8.3
pyobjc-framework-FSEvents==8.3
pyobjc-framework-GameCenter==8.3
pyobjc-framework-GameController==8.3
pyobjc-framework-GameKit==8.3
pyobjc-framework-GameplayKit==8.3
pyobjc-framework-ImageCaptureCore==8.3
pyobjc-framework-IMServicePlugIn==8.3
pyobjc-framework-InputMethodKit==8.3
pyobjc-framework-InstallerPlugins==8.3
pyobjc-framework-InstantMessage==8.3
pyobjc-framework-Intents==8.3
pyobjc-framework-IOSurface==8.3
pyobjc-framework-iTunesLibrary==8.3
pyobjc-framework-KernelManagement==8.3
pyobjc-framework-LatentSemanticMapping==8.3
pyobjc-framework-LaunchServices==8.3
pyobjc-framework-libdispatch==8.3
pyobjc-framework-LinkPresentation==8.3
pyobjc-framework-LocalAuthentication==8.3
pyobjc-framework-MapKit==8.3
pyobjc-framework-MediaAccessibility==8.3
pyobjc-framework-MediaLibrary==8.3
pyobjc-framework-MediaPlayer==8.3
pyobjc-framework-MediaToolbox==8.3
pyobjc-framework-Metal==8.3
pyobjc-framework-MetalKit==8.3
pyobjc-framework-MetalPerformanceShaders==8.3
pyobjc-framework-MetalPerformanceShadersGraph==8.3
pyobjc-framework-MLCompute==8.3
pyobjc-framework-ModelIO==8.3
pyobjc-framework-MultipeerConnectivity==8.3
pyobjc-framework-NaturalLanguage==8.3
pyobjc-framework-NetFS==8.3
pyobjc-framework-Network==8.3
pyobjc-framework-NetworkExtension==8.3
pyobjc-framework-NotificationCenter==8.3
pyobjc-framework-OpenDirectory==8.3
pyobjc-framework-OSAKit==8.3
pyobjc-framework-OSLog==8.3
pyobjc-framework-PassKit==8.3
pyobjc-framework-PencilKit==8.3
pyobjc-framework-Photos==8.3
pyobjc-framework-PhotosUI==8.3
pyobjc-framework-PreferencePanes==8.3
pyobjc-framework-PushKit==8.3
pyobjc-framework-Quartz==8.3
pyobjc-framework-QuickLookThumbnailing==8.3
pyobjc-framework-ReplayKit==8.3
pyobjc-framework-SafariServices==8.3
pyobjc-framework-SceneKit==8.3
pyobjc-framework-ScreenSaver==8.3
pyobjc-framework-ScreenTime==8.3
pyobjc-framework-ScriptingBridge==8.3
pyobjc-framework-SearchKit==8.3
pyobjc-framework-Security==8.3
pyobjc-framework-SecurityFoundation==8.3
pyobjc-framework-SecurityInterface==8.3
pyobjc-framework-ServiceManagement==8.3
pyobjc-framework-Social==8.3
pyobjc-framework-SoundAnalysis==8.3
pyobjc-framework-Speech==8.3
pyobjc-framework-SpriteKit==8.3
pyobjc-framework-StoreKit==8.3
pyobjc-framework-SyncServices==8.3
pyobjc-framework-SystemConfiguration==8.3
pyobjc-framework-SystemExtensions==8.3
pyobjc-framework-UniformTypeIdentifiers==8.3
pyobjc-framework-UserNotifications==8.3
pyobjc-framework-UserNotificationsUI==8.3
pyobjc-framework-VideoSubscriberAccount==8.3
pyobjc-framework-VideoToolbox==8.3
pyobjc-framework-Virtualization==8.3
pyobjc-framework-Vision==8.3
pyobjc-framework-WebKit==8.3
pyparsing==2.4.7
pyrsistent==0.17.3
pyserial==3.5
pyteomics==4.5
pytest==6.2.2
pytest-reportlog==0.1.2
pytest-timeout==1.4.2
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
regex==2022.1.18
requests==2.25.1
resampy==0.2.2
rope==0.18.0
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.1
Send2Trash==1.5.0
shelljob==0.6.2
six==1.15.0
snowballstemmer==2.1.0
SoundFile==0.10.3.post1
soupsieve==2.3.1
tabulate==0.8.9
terminado==0.9.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
typed-ast==1.4.2
typing-extensions==3.7.4.3
uflash==2.0.0
urllib3==1.26.4
virtualenv==20.10.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.3.0
widgetsnbextension==3.5.1
